In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('dataframe.csv',index_col=0)

In [18]:
df.columns

Index(['Category', 'Amount_2022', 'Amount_2021'], dtype='object')

In [19]:
df.head(5)

              Category Amount_2022 Amount_2021
0             Services      20,766      19,516
1             Products      60,765      64,309
2             Services       6,057       5,393
3  Total cost of sales      66,822      69,702
4         Gross margin      50,332      54,243

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 0 to 36
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Category     37 non-null     object
 1   Amount_2022  37 non-null     object
 2   Amount_2021  37 non-null     object
dtypes: object(3)
memory usage: 1.2+ KB

In [21]:

# Convert 'Amount_2021' and 'Amount_2022' columns to numeric
df['Amount_2021'] = df['Amount_2021'].str.replace(',', '').astype(float)
df['Amount_2022'] = df['Amount_2022'].str.replace(',', '').astype(float)

# Define a function for horizontal analysis
def horizontal_analysis(df):
    df['Change'] = df['Amount_2022'] - df['Amount_2021']
    df['Change %'] = ((df['Amount_2022'] - df['Amount_2021']) / df['Amount_2021']) * 100
    return df

# Define a function for vertical analysis
def vertical_analysis(df, base_item):
    df['% of ' + base_item] = (df['Amount_2022'] / df.loc[df['Category'] == base_item, 'Amount_2022'].values[0]) * 100
    return df

In [22]:

# Perform horizontal analysis
df_horizontal = horizontal_analysis(df)

# Perform vertical analysis using 'Total operating expenses' as the base item
df_vertical = vertical_analysis(df_horizontal, 'Total operating expenses')

In [23]:

# Printing horizontal analysis results
print("Horizontal Analysis:")
df_horizontal[['Category', 'Amount_2022', 'Amount_2021', 'Change', 'Change %']]
# print()

Horizontal Analysis:

,Category,Amount_2022,Amount_2021,Change,Change %
0,Services,20766.0,19516.0,1250.0,6.405001
1,Products,60765.0,64309.0,-3544.0,-5.510893
2,Services,6057.0,5393.0,664.0,12.312257
3,Total cost of sales,66822.0,69702.0,-2880.0,-4.131876
4,Gross margin,50332.0,54243.0,-3911.0,-7.210147
5,Research and development,7709.0,6306.0,1403.0,22.248652
6,Total operating expenses,14316.0,12755.0,1561.0,12.238338
7,Operating income,36016.0,41488.0,-5472.0,-13.189356
8,Income before provision for income taxes,35623.0,41241.0,-5618.0,-13.622366
9,Provision for income taxes,5625.0,6611.0,-986.0,-14.914536
10,Basic,15892723.0,16391724.0,-499001.0,-3.044225
11,Diluted,15955718.0,16519291.0,-563573.0,-3.411605
12,Europe,27681.0,29749.0,-2068.0,-6.951494
13,Greater China,23905.0,25783.0,-1878.0,-7.283869
14,Japan,6755.0,7107.0,-352.0,-4.952863
15,Rest of Asia Pacific,9535.0,9810.0,-275.0,-2.803262
16,Mac,7735.0,10852.0,-3117.0,-28.722816
17,iPad,9396.0,7248.0,2148.0,29.635762
18,Services,20766.0,19516.0,1250.0,6.405001
19,Marketable securities,30820.0,24658.0,6162.0,24.989861
20,Inventories,6820.0,4946.0,1874.0,37.889203
21,Other current assets,16422.0,21223.0,-4801.0,-22.621684
22,Total current assets,128777.0,135405.0,-6628.0,-4.894945
23,Marketable securities,114095.0,120805.0,-6710.0,-5.554406
24,Other current liabilities,59893.0,60845.0,-952.0,-1.564631
25,Deferred revenue,7992.0,7912.0,80.0,1.011122
26,Commercial paper,1743.0,9982.0,-8239.0,-82.538569
27,Term debt,9740.0,11128.0,-1388.0,-12.473041
28,Total current liabilities,137286.0,153982.0,-16696.0,-10.842826
29,Term debt,99627.0,98959.0,668.0,0.675027
30,Total liabilities,290020.0,302083.0,-12063.0,-3.993273
31,Net income,29998.0,34630.0,-4632.0,-13.375686
32,Depreciation and amortization,2916.0,2697.0,219.0,8.120133
33,Deferred revenue,131.0,462.0,-331.0,-71.645022
34,Cash generated by operating activities,34005.0,46966.0,-12961.0,-27.596559
35,Proceeds from maturities of marketable securities,7127.0,11309.0,-4182.0,-36.979397
36,Proceeds from sales of marketable securities,509.0,10675.0,-10166.0,-95.231850

In [24]:

# Printing vertical analysis results
print("Vertical Analysis (% of Total operating expenses):")
df_vertical[['Category', '% of Total operating expenses']]

Vertical Analysis (% of Total operating expenses):

,Category,% of Total operating expenses
0,Services,145.054484
1,Products,424.455155
2,Services,42.309304
3,Total cost of sales,466.764459
4,Gross margin,351.578653
5,Research and development,53.848840
6,Total operating expenses,100.000000
7,Operating income,251.578653
8,Income before provision for income taxes,248.833473
9,Provision for income taxes,39.291702
10,Basic,111013.711931
11,Diluted,111453.744063
12,Europe,193.357083
13,Greater China,166.981000
14,Japan,47.184968
15,Rest of Asia Pacific,66.603800
16,Mac,54.030455
17,iPad,65.632858
18,Services,145.054484
19,Marketable securities,215.283599
20,Inventories,47.639005
21,Other current assets,114.710813
22,Total current assets,899.531992
23,Marketable securities,796.975412
24,Other current liabilities,418.364068
25,Deferred revenue,55.825650
26,Commercial paper,12.175189
27,Term debt,68.035764
28,Total current liabilities,958.968986
29,Term debt,695.913663
30,Total liabilities,2025.845208
31,Net income,209.541771
32,Depreciation and amortization,20.368818
33,Deferred revenue,0.915060
34,Cash generated by operating activities,237.531433
35,Proceeds from maturities of marketable securities,49.783459
36,Proceeds from sales of marketable securities,3.555462